[tool.poetry]
name = "pypsdm"
version = "0.0.5"
description = ""
authors = ["Thomas Oberliessen <thomas.oberliessen@googlemail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">3.11,<3.13"
pandas = "~=2.2.3"
jupyter = "^1.0.0"
matplotlib = "^3.10.1"
seaborn = "0.13.2"
plotly = "^6.0.1"
requests = "^2.27.1"
numpy = "^2.1.3"
scipy = "^1.15.2"
pyarrow = "^19.0.1"
openpyxl = "^3.1.2"
python-dotenv = "^1.1.0"                              # Can probably be removed in the future
shapely = "^2.0.7"
networkx = "^3.1"
black = { extras = ["jupyter"], version = "~25.1.0" }
loguru = "^0.7.2"
sqlmodel = "^0.0.24"
pyhocon = "^0.3.60"
psycopg2 = "^2.9.9"
numba = "^0.61.2"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.5"
flake8 = "^7.2.0"
flake8-black = "^0.3.6"
flake8-isort = "^6.0.0"
pre-commit = "~=4.2.0"
PyYAML = "^6.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
