[tool.poetry]
name = "pypsdm"
version = "0.0.3"
description = ""
authors = ["Thomas Oberliessen <thomas.oberliessen@googlemail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">3.11, <3.12"
pandas = ">1.2,<2.3"
jupyter = "^1.0.0"
matplotlib = "^3.6.0"
seaborn = "0.13"
plotly = "^5.6.0"
requests = "^2.27.1"
numpy = "^1.24.1"
scipy = "^1.10.0"
pyarrow = "^11.0.0"
openpyxl = "^3.1.2"
python-dotenv = "^1.0.0"                              # Can probably be removed in the future
shapely = "^2.0.1"
networkx = "^3.1"
black = { extras = ["jupyter"], version = "~24.1.1" }
loguru = "^0.7.2"
sqlmodel = "^0.0.14"
pyhocon = "^0.3.60"
psycopg2 = "^2.9.9"
numba = "^0.59.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
flake8 = "^6.0.0"
flake8-black = "^0.3.6"
flake8-isort = "^6.0.0"
pre-commit = ">=2.21,<4.0"
PyYAML = "^6.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
